<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="registerStep1" style="text-align: center;margin-top: 50px;">
    <ul>
        <li>
            <img th:src="@{/image/success_green.png}" src="../static/image/success_green.png" style="width: 25px;height: 25px;float: left">
            <div style="float: left;padding: 0px 5px;font-size: 20px;color: black">邮箱注册</div>
        </li>
        <li>
            <img th:src="@{/image/success_gray.png}" src="../static/image/success_gray.png" style="width: 25px;height: 25px;float: left">
            <div style="float: left;padding: 0px 5px;font-size: 20px;color: #cdcdcd">填写账号信息</div>
        </li>
        <li>
            <img th:src="@{/image/success_gray.png}" src="../static/image/success_gray.png" style="width: 25px;height: 25px;float: left">
            <div style="float: left;padding: 0px 5px;font-size: 20px;color: #cdcdcd">注册成功</div>
        </li>
    </ul>
</div>
<div th:fragment="registerStep2" style="text-align: center;margin-top: 50px;">
    <ul>
        <li>
            <img th:src="@{/image/success_green.png}" src="../static/image/success_green.png" style="width: 25px;height: 25px;float: left">
            <div style="float: left;padding: 0px 5px;font-size: 20px;color: black">邮箱注册</div>
        </li>
        <li>
            <img th:src="@{/image/success_green.png}" src="../static/image/success_green.png" style="width: 25px;height: 25px;float: left">
            <div style="float: left;padding: 0px 5px;font-size: 20px;color: black">填写账号信息</div>
        </li>
        <li>
            <img th:src="@{/image/success_gray.png}" src="../static/image/success_gray.png" style="width: 25px;height: 25px;float: left">
            <div style="float: left;padding: 0px 5px;font-size: 20px;color: #cdcdcd">注册成功</div>
        </li>
    </ul>
</div>
</body>
</html>